In [8]:
try:
    num = int(input("Enter any number : "))
    print("You entered " + str(num))
except:
    print("Invalid input, please try again")

Invalid input

In [13]:
try:
    num1 = int(input("Enter any number : "))
    num2 = int(input("Enter any number : "))
    num3 = num1 / num2
    print("Answer is ",num3)
except ValueError:
    print("Invalid input")
except ZeroDivisionError:
    print("Second value can not be zero")
except:
    print("Other error")

Answer is  2.0

In [1]:
def myfunction():
    a = 10 # global
    s = 1 # global
    def myfunction1():
        global a
        global s
        a = 5
        s = a * a
        print(a,s)
    print(a,s) # 10, 1
    myfunction1(); # 5,25
    print(a,s) # 5, 1

myfunction()

10 1
5 25
10 1

In [53]:
s1 = "What is your name? My name is Rakesh."
print(s1[5].capitalize())

I

In [3]:
s1 = "i\tn\td\ti\ta"
print(s1.expandtabs(5))

i    n    d    i    a

In [14]:
s1 = "India is great country in the world. great people leaves here"
print(s1.find("great",10,42))

37

In [20]:
s1 = "India is great country in the world. great people leaves here"
searchstring = "great"
start = s1.find(searchstring,10,42)
end = start + len(searchstring)
print(start,end)
print(s1[start:end])

37 42
great

In [1]:
#named indexes:
txt = "My name is {fname}, I'm {age} year old"
txt1 = txt.format(fname = "Aakash", age = 36)
txt2 = txt.format(fname = "Shiv", age = 42)
txt3 = txt.format(fname = "Aman", age = 48)
print(txt)
print(txt1)
print(txt2)
print(txt3)

My name is {fname}, I'm {age} year old
My name is Aakash, I'm 36 year old
My name is Shiv, I'm 42 year old
My name is Aman, I'm 48 year old

In [3]:
txt = "My name is {0}, I'm {1} year old. Hi {0}, you are {1} year old"
txt1 = txt.format("Aakash",36)
print(txt1)

My name is Aakash, I'm 36 year old. Hi Aakash, you are 36 year old

In [6]:
txt = "My name is {}, I'm {} year old. Hi {}"
txt1 = txt.format("Aakash",36, "Shiv")
print(txt1)

My name is Aakash, I'm 36 year old. Hi Shiv

In [17]:
txt = "i love {:^15} India is my country"
print(txt.format("India"))

i love      India      India is my country

In [71]:
a = float('inf')
txt = "{:f}"
print(txt.format(a))

inf

In [12]:
txt = "The octal version of {0} is {0:x}"

print(txt.format(14))

The octal version of 14 is e

In [7]:
txt = "You scored {:.2%}"
print(txt.format(5))

You scored 500.00%

In [14]:
txt = "Hello, welcome to my world."
x = txt.index("to")
print(x)

15

In [48]:
txt = "abc_123"
x = txt.islower()
print(x)

True

In [55]:
txt = "Hello Friends How Are You"
x = txt.istitle()
print(x)

True

In [58]:
txt = "1234"
x = txt.isnumeric()
print(x)

True

In [63]:
txt = "ABC\t1234"
print(txt)
x = txt.isprintable()
print(x)

ABC	1234
False

In [65]:
txt = "   "
x = txt.isspace()
print(x)

True

In [73]:
myValues= ["John", "Peter", "Vicky"]
myseparator = "-"
x = myseparator.join(myValues)
print(x)

John-Peter-Vicky

In [74]:
txt = "banana"
x = txt.ljust(20)
print(x, "is my favorite fruit.")

banana               is my favorite fruit.